@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table border="1">

        @for (int i = 1; i < 10; i++)
        {
            <tr>
                
            </tr>
            @for (int j = 0; j < 10; j++)
            {
                
                    
                 <td rowspan="2">@i x @j = @(i * j)</td>
                 
                    
        
            }
            <tr>
                <td colspan="5">
                    <h2>Bảng cửu chương @i</h2>
                </td>
            </tr>
       
        }
    </table>

</div>
