
@{
    ViewData["Title"] = "details";
}
@model PhongBanViewModel
<div>
    Id <b>@Model.maphongban</b> <br />
    Name: <b>@Model.tenphongban</b><br />
    sl nhân viên <b>@Model.soluongnhanvien</b> <br />
    phongbanquanli <b>@Model.phongbanquanli</b><br />


</div>

