
@{
    ViewData["Title"] = "Dangnhap";
}
@model TaiKhoanViewModel
<link rel="stylesheet" href="~/css/Styles.css" />
<h1>Dangnhap</h1>
<div class="Container">

    <h3>Đăng ký</h3>
    <form  method="post">
        <label asp-for="username">User name:</label>
        <input asp-for="username" type="text" class="form-control" />

        <label asp-for="password">password:</label>
        <input asp-for="password" type="password" class="form-control" />

        <button type="submit" class="btn btn-primary">Đăng Ký</button>
        @if(Model!=null)
        {
            <p>Usser name đã nhập l: @Model.username</p>
            <p>Password đã nhập là:@Model.password</p>

        }
    </form>
</div>

