
@{
    ViewData["Title"] = "Upsert";
}
@model SanPhamViewModel
<div class="container">
    <form mmethod="post" asp-action="Upsert">
        <div class="form-group">
            <label asp-for="Name">Tên Sản Phầm</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="price">Gía</label>
            <input asp-for="price" type="number" class="form-control" />
            <span asp-validation-for="price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Mô Tả</label>
            <input asp-for="Description" type="text" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl">Tên ảnhm</label>
            <input asp-for="ImageUrl" type="text" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TheLoaiId">Tên Thể Loại</label>
            <select asp-for="TheLoaiId" asp-items="@ViewBag.DsTheLoai">
                <option disabled>chọn thể loại</option>
            </select>
            <span asp-validation-for="TheLoaiId"class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" >@(Model.Id==0?"Tạo Mới":"Cập Nhật")</button>
        <a asp-action="Index" class="btn btn-primary">Hủy</a>
    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}