
@{
    ViewData["Title"] = "Create";
}
@model TheLoaiViewModel;
<div class="container">
    <h3>Thêm Thể Loại</h3>
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name">Tên Thể Loại</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"/>
        </div>
        <div class="form-group" >
            <label asp-for="DateCreated">Ngày tạo</label>
            <input asp-for="DateCreated" type="date" class="form-control" />
            <span asp-validation-for="DateCreated" class="text-danger"/>
        </div>
        <a asp-controller="TheLoai" asp-action="Index" class="btn btn-primary">Quay về</a>
        <button type="submit" class="btn btn-primary">Submit</button>   
    </form>
   
</div>
@section Scripts{
    @{
        <partial name ="_ValidationScriptsPartial" />
    }
}

