.card-body {
    display: flex;
    flex-direction: column;
}
.col-3{
    margin-bottom:10px;
}
.card-title {
    flex: 1;
    min-height: 50px;
}

.card-price {
    margin-top: auto;
}

.col-6 {
    display: flex;
    flex: 1;
}

.product-link > .card-img-top {
    text-decoration: none;
    width: 100%;
    height: 200px;
}
