@{
    ViewData["Title"] = "Home Page";
}
<header>
    <h2>Giới Thiệu</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/Trang-Chu">Trang Chu</a></li>
            <li><a href="~/Nhom_Ten">Thành Viên Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>My Name is Tong Ngoc Tuan</h1>
        <img src="~/images/anh-meme-meo-15.jpg" width=350px height=200px alt="Lỗi hiện thị ảnh" />

    </article>
</section>

<footer>
    <p>CopyRight &copy;TỐNG NGỌC TUẤN @DateTime.Now.Year</p>
</footer>

