
@{
    ViewData["Title"] = "Index";
}
<header>
    <h2>Giới Thiệu</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/Trang-Chu">Trang Chu</a></li>
            <li><a href="~/Nhom_Ten">Thành Viên Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>MSVV</th>
            <th>HỌ VÀ TÊN</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1822040833</td>
                    <td>Tống Ngọc Tuấn</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1822040833</td>
                    <td>Hồng Thị Diễm Anh</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1822040833</td>
                    <td>Hoàng Phan Anh Trọng</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>1822040833</td>
                    <td>Nguyễn Thành Bữu</td>
                </tr>
               
            </tbody>
        </table>

    </article>
</section>

<footer>
    <p>CopyRight &copy;TỐNG NGỌC TUẤN @DateTime.Now.Year</p>
</footer>


