
@{
    ViewData["Title"] = "details";
}
@model TheLoaiViewModel
<div>
    Id <b>@Model.Id</b> <br />
    Name: <b>@Model.Name</b><br />
    Ngay<b>@String.Format("{0:dd/MM/yyyy}", Model.DateCreated)</b>

</div>
